@import url(./images.css);
@import url(./header.css);
@import url(./todo.css);
@import url(./skill.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  white-space: nowrap;
}

.hidden {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-size: cover;

  padding-left: 20px;
  padding-right: 20px;
  color: white;

  font-size: 24px;
  font-weight: 600;

  padding-top: 20px;
}
.img-hide {
  opacity: 0;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

#username-form,
#greeting {
  margin: 5px 0px;
  font-size: 32px;
}

#greeting {
  text-shadow: 2px 2px 2px gray;
}
.username {
  background: none;
  padding: 0px 10px;

  font-size: 32px;
  color: white;
  width: 20rem;
  text-align: center;
  border: 0px;
  border-bottom: 0px solid white;
  outline: none;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 2px gray;
}
.username:focus,
.username:hover {
  border: 0px;
  border-bottom: 2px solid white;
}

.username::placeholder {
  color: white;
  text-shadow: 2px 2px 2px gray;
}

.footer-ment {
  position: absolute;
  font-weight: 400;
  font-size: 1.2rem;

  bottom: 10px;
}
